<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChubzyaGEEyIFnVzSWOhwZ71V9qTXDJKU</string>
	<key>GCM_SENDER_ID</key>
	<string>617952791355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scesi.events</string>
	<key>PROJECT_ID</key>
	<string>eventosapp-136ee</string>
	<key>STORAGE_BUCKET</key>
	<string>eventosapp-136ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617952791355:ios:498e2d872bcc72cc8bc51e</string>
</dict>
</plist>